<%= form_tag menus_path do %> 
  <div class='menu-panel'>
    <div class='center-heading'>Cosmetic Allergens</div>
    <br>
    <ol>
      <% for allergen in @menu %>
        <li>
          <%= check_box_tag 'allergen_id[]', allergen.id %>  
          <%= allergen.category %>   
        </li>
      <% end %>
    </ol>
  </div>
  <br>
  <br>
  <%= submit_tag "Submit", class: "btn btn-xlarge btn-primary"%>
<% end %>