<% product_ids = get_product_ids(@reactions) %>
<h1 class="center-heading">Products Containing Allergens</h1>
<table class="table">
  <tr colspan="4">
    <th class='center'>Products:</th>
    <th class='center'>Allergic to Ingredients:</th>
    <th class='center'>Allergen Categories:</th>
    <th class='center'>Substances in Category:</th>
  </tr>
  <% product_ids.each do |product_id| %>
    <% product_reactions = Reaction.where("product_id = ?",product_id) %>
    <tr class="text-color-not-ok">
      <td>
        <%= Product.find(product_id).name%>
      </td>
      <td>
        <%= get_reactive_ingredients(product_reactions) %>
      </td>
      <td>
        <%= get_allergen_categories(product_reactions) %>
      </td>
      <td>
        <%= get_reactive_substances(product_reactions) %>
      </td>
    </tr>
  <% end %>
</table>